$mobile: 767px;
$iphone : 400px;


.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.graph {
    width: 500px;
    height: 500px;
}

@mixin responsive ($width) {

    @media screen and (max-width: $width) {
        @content
    }

}