$mobile: 767px;
$iphone : 400px;

@mixin responsive ($width) {

    @media screen and (max-width: $width) {
        @content
    }

}

.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.graph {
    width: 500px;
    height: 500px;
    @include responsive($mobile){
        width: 250px;
        height: 250px;
    }
}

.leftscroll{
    @include responsive($mobile)
}

.gradients{
    &--blacktoblue{
       background: rgb(10, 10, 10);
       background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, rgb(0, 35, 65) 20%, rgb(0, 69, 160) 40%,rgba(10,10,10,0) 100%);
    }
}

.gradients{
    &--blacktoorange{
        background: #0A0A0A;
        background: linear-gradient(180deg, rgba(10, 10, 10, 1) 0%, rgba(125, 40, 0, 0.575) 25%, rgba(204, 75, 0, 1) 50%, rgb(125, 40, 0,0.575) 75%, rgba(10, 10, 10, 1) 100%);
    }
    &--blacktogreenblue{
        background: #0A0A0A;
        background: linear-gradient(180deg, rgba(10, 10, 10, 1) 0%, rgb(168, 159, 24) 40%, rgb(255, 239, 14) 50%, rgb(168, 159, 24) 60%, rgba(10, 10, 10, 1) 100%);
    }
}