@use '../generics/generics.scss' as gen;


.Aristoteles{
    &__Graph{
        width: 500px;
        height: 500px;
        background-color: rgb(14, 14, 14);
    
        @include gen.responsive(gen.$mobile) {
        width: 300px;
        
    }
    }
    
}